nav > h2 {
  text-align: center;
}
.task-board {
  display: flex;
  justify-content: space-around;
}
.boardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.boardContainer>h3 {
  text-align: center;
}
.boardContainer>ul {
  padding: 0;
}
.deleteButton {
  border: 1px solid red;
  background: red;
  border-radius: 50%;
  color: #fff;
}
li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 5px;
  margin: 2px 0;
  border: 1px solid black;
  border-radius: 3px;
}
.addButton {
  border: 1px solid #2196F3;
  background: #2196F3;
  border-radius: 3px;;
  color: #fff;
}